body{
    background: white;
    font-size: 15px;
    font-family: Lexend Deca;
    height:97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}


img{
    margin:50px 40px 0px 40px;
}

.car{
    float: left;
    width:19%;
    min-width: 250px;/*Ne déborde pas des div quand on change la taille de l'écran*/
    height:470px;
}

.Sedans{
    background:hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.SUVs{
    background:hsl(184, 100%, 22%);
}

.Luxury{
    background:hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1{
    font-family:Big Shoulders Display;
    color: hsl(0, 0%, 95%);
    margin:30px 40px 0px 40px;
    font-size: 35px;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    margin:25px 40px 0px 40px;
    font-weight: 400;
}

button{
    width: 150px;
    height: 50px;
    background:hsl(0, 0%, 95%);
    border-radius: 50px;
    border:none;
    cursor:pointer;
    font-size: 15px;
    font-family: Lexend Deca;
    margin:100px 40px 0px 40px;
}

.buttonSedans{
    color: hsl(31, 77%, 52%);
}

.buttonSUVs{
    color: hsl(184, 100%, 22%);
}

.buttonLuxury{
    color: hsl(179, 100%, 13%);
}

button:hover{
    color: hsl(0, 0%, 95%);
    background: transparent;
    border:2px solid hsl(0, 0%, 95%);
}




.attribution {
    font-size: 11px; 
    text-align: center;
    /*margin:auto;*/
}
.attribution a {color: hsl(228, 45%, 44%); }